In [1]:
print("Stefan")

Stefan

In [2]:
import pandas as pd
import numpy as np
import random
import string

num_rows = 5
num_cols_numbers = 1
num_cols_letters = 1

random_numbers = np.random.randint(0, 100, size=(num_rows, num_cols_numbers))
df_numbers = pd.DataFrame(random_numbers, columns=[f'Num_Col' for i in range(num_cols_numbers)])

def generate_random_string(length=1):
    letters = string.ascii_letters
    return ''.join(random.choice(letters) for i in range(length))

random_letters_data = [[generate_random_string() for _ in range(num_cols_letters)] for _ in range(num_rows)]
df_letters = pd.DataFrame(random_letters_data, columns=[f'Letter_Col' for i in range(num_cols_letters)])

df_combined = pd.concat([df_numbers, df_letters], axis=1)

print(df_combined)

   Num_Col Letter_Col
0       48          K
1       25          b
2       47          Z
3       39          R
4       97          J

In [3]:
divide_2 = lambda x: x/5

In [4]:
df_combined['Divide_by_Five'] = divide_2(df_numbers['Num_Col'])

In [5]:
print(df_combined)

   Num_Col Letter_Col  Divide_by_Five
0       48          K             9.6
1       25          b             5.0
2       47          Z             9.4
3       39          R             7.8
4       97          J            19.4

In [6]:
df_combined['Over_50'] = df_combined['Num_Col'].apply(lambda x: 'Over 50' if x > 50 else 'Under 50')
df_combined

   Num_Col Letter_Col  Divide_by_Five   Over_50
0       48          K             9.6  Under 50
1       25          b             5.0  Under 50
2       47          Z             9.4  Under 50
3       39          R             7.8  Under 50
4       97          J            19.4   Over 50