In [1]:
import pandas as pd 
import numpy as np
import spacy
from spacy import displacy
from spacy.lang.en import English
import networkx as nx
import os
import matplotlib.pyplot as plt
import scipy
import re

!python -m spacy download en_core-web_sm

C:\Users\stefa\anaconda3\python.exe: No module named spacy

In [2]:
# Load spacy English module

NER = spacy.load("en_core_web_sm")

In [3]:
with open('20th_century_article_Wiki.txt', 'r', errors='ignore') as file: 
   data = file.read().replace( '\n', ' ')

wiki = NER(data)

# Visualize identified entities

displacy.render(wiki[273:20000], style = "ent", jupyter = True)

In [4]:
# Loop through sentences, get entity list for each sentence
wiki_hold = []
for sent in wiki.sents:
       entity_list = [ent.text for ent in sent.ents]
       wiki_hold.append({'sentence': sent, 'entities': entity_list})

df_sentences = pd.DataFrame(wiki_hold)

In [5]:
df_sentences.head(10)

,sentence,entities
0,"( , Key, events, of, the, 20th, century, -,...",[the 20th century]
1,"(articleAbout, WikipediaContact, us, \t\t...",[Search Search ...
2,"(The, rise, of, dictatorship, , 1.4,...","[1.4, World War II, 1.4.1]"
3,"(The, war, in, Europe, , 1.4.2, Blitzk...","[Europe, 1.4.2, Blitzkrieg 1.4.3, Oper..."
4,"(Turning, tides, )",[]
5,"(1.4.5, Operation, Overlord, , 1.4.6, ...",[Operation Overlord 1.4.6 Final days ...
6,"(Allied, offensive, , 1.4.10, Final, d...",[Allied offensive 1.4.10 Final days ...
7,"(The, Holocaust, , 1.4.12, The, Nuclea...","[The Nuclear Age, 1.5]"
8,"(The, post, -, war, world, , 1.5.1)",[1.5.1]
9,"(The, end, of, empires, :, decolonization, ...","[The Cold War, 1947â€“1991]"

In [6]:
csv_filepath = r"C:\Users\stefa\20th-century\countries_list_20th_century_1.5.csv"

In [7]:
df = pd.read_csv(csv_filepath)

In [8]:
df = df.drop('Unnamed: 0', axis=1)
df

                             country_name
0                            Afghanistan
1                                Albania
2                                Algeria
3                                Andorra
4                                 Angola
..                                    ...
204     Sahrawi Arab Democratic Republic
205                           Somaliland
206                        South Ossetia
207                               Taiwan
208                          Transnistria

[209 rows x 1 columns]

In [9]:
df_2 = df['country_name'].tolist()
print(df_2)

[' Afghanistan ', '  Albania ', '  Algeria ', '  Andorra ', '  Angola ', '  Antigua and Barbuda ', '  Argentina ', '  Armenia ', '  Australia ', '  Austria ', '  Azerbaijan', ' Bahamas, The ', '  Bahrain ', '  Bangladesh ', '  Barbados ', '  Belarus ', '  Belgium ', '  Belize ', '  Benin ', '  Bhutan ', '  Bolivia ', '  Bosnia and Herzegovina ', '  Botswana ', '  Brazil ', '  Brunei ', '  Bulgaria ', '  Burkina Faso ', '  Burundi', ' Cambodia ', '  Cameroon ', '  Canada ', '  Cape Verde ', '  Central African Republic ', '  Chad ', '  Chile ', "  China, People's Republic of ", '  Colombia ', '  Comoros ', '  Congo, Democratic Republic of the ', '  Congo, Republic of the ', '  Costa Rica ', '  Croatia ', '  Cuba ', '  Cyprus ', '  Czech Republic', '  Denmark ', '   Djibouti ', '   Dominica ', '   Dominican Republic', '  East Timor ', '   Ecuador ', '   Egypt ', '   El Salvador ', '   Equatorial Guinea ', '   Eritrea ', '   Estonia ', '   Eswatini ', '   Ethiopia', '  Fiji ', '   Finland ', '   France', '  Gabon ', '   Gambia, The ', '   Georgia ', '   Germany ', '   Ghana ', '   Greece ', '   Grenada ', '   Guatemala ', '   Guinea ', '   Guinea', 'Bissau ', '   Guyana', '  Haiti ', '   Honduras ', '   Hungary', '  Iceland ', '   India ', '   Indonesia ', '   Iran ', '   Iraq ', '   Ireland ', '   Israel ', '   Italy ', '   Ivory Coast', '  Jamaica ', '   Japan ', '   Jordan', '  Kazakhstan ', '   Kenya ', '   Kiribati ', '   Korea, North ', '   Korea, South ', '   Kuwait ', '   Kyrgyzstan', '  Laos ', '   Latvia ', '   Lebanon ', '   Lesotho ', '   Liberia ', '   Libya ', '   Liechtenstein ', '   Lithuania ', '   Luxembourg', '  Madagascar ', '   Malawi ', '   Malaysia ', '   Maldives ', '   Mali ', '   Malta ', '   Marshall Islands ', '   Mauritania ', '   Mauritius ', '   Mexico ', '   Micronesia, Federated States of ', '   Moldova ', '   Monaco ', '   Mongolia ', '   Montenegro ', '   Morocco ', '   Mozambique ', '   Myanmar', '  Namibia ', '   Nauru ', '     Nepal ', '   Netherlands ', '   New Zealand ', '   Nicaragua ', '   Niger ', '   Nigeria ', '   North Macedonia ', '   Norway', '  Oman', '  Pakistan ', '   Palau ', '   Palestine ', '   Panama ', '   Papua New Guinea ', '   Paraguay ', '   Peru ', '   Philippines ', '   Poland ', '   Portugal', '  Qatar', '  Romania ', '   Russia ', '   Rwanda', '  Saint Kitts and Nevis ', '   Saint Lucia ', '   Saint Vincent and the Grenadines ', '   Samoa ', '   San Marino ', '   São Tomé and Príncipe ', '   Saudi Arabia ', '   Senegal ', '   Serbia ', '   Seychelles ', '   Sierra Leone ', '   Singapore ', '   Slovakia ', '   Slovenia ', '   Solomon Islands ', '   Somalia ', '   South Africa ', '   South Sudan ', '   Spain ', '   Sri Lanka ', '   Sudan ', '   Suriname ', '   Sweden ', '    Switzerland ', '   Syria', '  Tajikistan ', '   Tanzania ', '   Thailand ', '   Togo ', '   Tonga ', '   Trinidad and Tobago ', '   Tunisia ', '   Turkey ', '   Turkmenistan ', '   Tuvalu', '  Uganda ', '   Ukraine ', '   United Arab Emirates ', '   United Kingdom ', '   United States ', '   Uruguay ', '   Uzbekistan', '  Vanuatu ', '    Vatican City (Holy See) ', '   Venezuela ', '   Vietnam', '  Yemen', '  Zambia ', '   Zimbabwe', '  Abkhazia ', '   Artsakh ', '   Cook Islands ', "   Donetsk People's Republic ", '   Kosovo ', "   Luhansk People's Republic ", '   Niue ', '   Northern Cyprus ', '   Sahrawi Arab Democratic Republic ', '   Somaliland ', '   South Ossetia ', '   Taiwan ', '   Transnistria']

In [10]:
df_new = [item.strip() for item in df_2]

In [ ]:
df_new

In [11]:
def filter_entity(ent_list, df_new):
       return [ent for ent in ent_list
                  if ent in list(df_new['country_name'])]

def filter_entity(ent_list, df_2):
       return [ent for ent in ent_list
                  if ent in list(df_2['country_name'])]

In [12]:
df_sentences['country_entities'] = df_sentences['entities'].apply(lambda x: filter_entity(x, df_new))

TypeError: list indices must be integers or slices, not str

df_sentences['country_entities'] = df_sentences['entities'].apply(lambda x: filter_entity(x, df_2))

In [ ]:
# Filter out sentences that don’t have any character entities

df_sentences_filtered = df_sentences[df_sentences['country_entities'].map(len) > 0]

df_sentences_filtered.tail(10)